*{
	box-sizing: border-box;
}
hmtl,body{
	font-size:16px;
}
workspace{
	/*border: solid 20px black;
	background: rgba(63,189,227,0.4);*/
	
	box-sizing: content-box;
	position: relative;
	display: block;
	zoom:0.1;
}

h3, h4{
	margin-bottom: 0.2em;
}
h4:first-of-type{
	margin-top: 0.2em;
}

p {
	margin:0.5em 0;
}

fieldset{
	margin:1em 0;
}

params label {
	display:block;
}

display{
	border: solid 1px black;
	background: rgba(63,189,227,0.4);
	position: absolute;
	display: block;
}
display[main]:before{
    content: 'main';
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 160px;
    width: 100%;
    text-align: center;
    font-family: system-ui;
}
display[selected]{
    background-image: linear-gradient(-45deg, black 5%, transparent 0%, transparent 50%, black 0%, black 55%, transparent 0%, transparent);
    background-size: 500px 500px;
    background-size: 50px 50px;
}


display d{
    position: absolute;
	z-index: -1;
	display: block;
    left: 0;
    top: 50%;
	margin-top: -100px;
    width: 100%;
	text-align: center;
    font-size: 200px;
    font-family: fantasy;
}

#ini_file{
	width:100%;
	margin-bottom: 4px;
}
#exe_file{
	direction: rtl;
    float: right;
}
#ini_load,
#ini_save
{
	
}
